<?xml version="1.0" ?>
<!--
/**
 * @author      FCamara - Formação e Consultoria <contato@fcamara.com.br>
 * @author      Guilherme Miguelete <guilherme.miguelete@fcamara.com.br>
 * @license     Pagaleve Tecnologia Financeira | Copyright
 * @copyright   2022 Pagaleve Tecnologia Financeira (http://www.pagaleve.com.br)
 *
 * @link        http://www.pagaleve.com.br
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<section id="payment" sortOrder="1000" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
            <group id="pagaleve" translate="label" type="text" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="1">
                <attribute type="activity_path">payment/pagaleve/active</attribute>
                <label><![CDATA[<div class="pagaleve-payment-logo"></div><div class="pagaleve-payment-byline">Pagamento por parcelamento via PIX.<br/>Parcelamento em 4X via PIX.</div>]]></label>
                <fieldset_css>complex pagaleve-payment-section</fieldset_css>
                <frontend_model>Pagaleve\Payment\Block\Adminhtml\System\Config\Fieldset\Payment</frontend_model>
                <group id="general" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                    <label>General</label>
                    <field id="active" type="select" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                        <label>Enabled</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/pagaleve/active</config_path>
                    </field>
                    <field id="title" type="text" sortOrder="20" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                        <label>Title</label>
                        <config_path>payment/pagaleve/title</config_path>
                    </field>
                    <field id="order_status" type="select" sortOrder="40" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                        <label>Status</label>
                        <source_model>Magento\Sales\Model\Config\Source\Order\Status\NewStatus</source_model>
                        <config_path>payment/pagaleve/order_status</config_path>
                    </field>
                    <field id="retry_deadline" type="text" sortOrder="60" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                        <label>Retry deadline</label>
                        <config_path>payment/pagaleve/retry_deadline</config_path>
                    </field>
                    <field id="sort_order" type="text" sortOrder="1000" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                        <label>Sort Order</label>
                        <config_path>payment/pagaleve/sort_order</config_path>
                    </field>
                </group>
                <group id="credentials" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                    <label>Credentials</label>
                    <field id="sandbox_mode" type="select" sortOrder="21" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                        <label>Sandbox Mode</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/pagaleve/sandbox_mode</config_path>
                    </field>
                    <field id="token_username" type="text" sortOrder="31" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                        <label>Username</label>
                        <depends>
                            <field id="sandbox_mode">0</field>
                        </depends>
                        <config_path>payment/pagaleve/token_username</config_path>
                    </field>
                    <field id="token_username_sandbox" type="text" sortOrder="35" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                        <label>Username</label>
                        <depends>
                            <field id="sandbox_mode">1</field>
                        </depends>
                        <config_path>payment/pagaleve/token_username_sandbox</config_path>
                    </field>
                    <field id="token_password" type="password" sortOrder="40" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                        <label>Password</label>
                        <depends>
                            <field id="sandbox_mode">0</field>
                        </depends>
                        <config_path>payment/pagaleve/token_password</config_path>
                    </field>
                    <field id="token_password_sandbox" type="password" sortOrder="45" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                        <label>Password</label>
                        <depends>
                            <field id="sandbox_mode">1</field>
                        </depends>
                        <config_path>payment/pagaleve/token_password_sandbox</config_path>
                    </field>
                    <field id="token_url" type="label" sortOrder="80" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                        <label>Token Endpoint</label>
                        <depends>
                            <field id="sandbox_mode">0</field>
                        </depends>
                        <config_path>payment/pagaleve/token_url</config_path>
                    </field>
                    <field id="token_url_sandbox" type="label" sortOrder="85" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                        <label>Token Endpoint</label>
                        <depends>
                            <field id="sandbox_mode">1</field>
                        </depends>
                        <config_path>payment/pagaleve/token_url_sandbox</config_path>
                    </field>
                    <field id="checkout_url" type="label" sortOrder="110" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                        <label>Checkout Endpoint</label>
                        <depends>
                            <field id="sandbox_mode">0</field>
                        </depends>
                        <config_path>payment/pagaleve/checkout_url</config_path>
                    </field>
                    <field id="checkout_url_sandbox" type="label" sortOrder="115" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                        <label>Checkout Endpoint</label>
                        <depends>
                            <field id="sandbox_mode">1</field>
                        </depends>
                        <config_path>payment/pagaleve/checkout_url_sandbox</config_path>
                    </field>
                    <field id="payment_url" type="label" sortOrder="120" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                        <label>Payment Endpoint</label>
                        <depends>
                            <field id="sandbox_mode">0</field>
                        </depends>
                        <config_path>payment/pagaleve/payment_url</config_path>
                    </field>
                    <field id="payment_url_sandbox" type="label" sortOrder="130" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                        <label>Payment Endpoint</label>
                        <depends>
                            <field id="sandbox_mode">1</field>
                        </depends>
                        <config_path>payment/pagaleve/payment_url_sandbox</config_path>
                    </field>
                    <field id="capture_url" type="label" sortOrder="120" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                        <label>Capture Endpoint</label>
                        <depends>
                            <field id="sandbox_mode">0</field>
                        </depends>
                        <config_path>payment/pagaleve/capture_url</config_path>
                    </field>
                    <field id="capture_url_sandbox" type="label" sortOrder="130" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                        <label>Capture Endpoint</label>
                        <depends>
                            <field id="sandbox_mode">1</field>
                        </depends>
                        <config_path>payment/pagaleve/capture_url_sandbox</config_path>
                    </field>
                    <field id="refund_url" type="label" sortOrder="140" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                        <label>Refund Endpoint</label>
                        <depends>
                            <field id="sandbox_mode">0</field>
                        </depends>
                        <config_path>payment/pagaleve/refund_url</config_path>
                    </field>
                    <field id="refund_url_sandbox" type="label" sortOrder="150" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                        <label>Refund Endpoint</label>
                        <depends>
                            <field id="sandbox_mode">1</field>
                        </depends>
                        <config_path>payment/pagaleve/refund_url_sandbox</config_path>
                    </field>
                    <field id="release_url" type="label" sortOrder="160" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                        <label>Release Endpoint</label>
                        <depends>
                            <field id="sandbox_mode">0</field>
                        </depends>
                        <config_path>payment/pagaleve/release_url</config_path>
                    </field>
                    <field id="release_url_sandbox" type="label" sortOrder="170" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                        <label>Release Endpoint</label>
                        <depends>
                            <field id="sandbox_mode">1</field>
                        </depends>
                        <config_path>payment/pagaleve/release_url_sandbox</config_path>
                    </field>
                </group>
            </group>
		</section>
	</system>
</config>
